/**** Verified Queen Flair ****/
/* VERIFIED AND QUEEN FLAIR */
.author[href$='/user/eurekaohara']:before,
.author[href$='/user/officialmonetxchange']:before,
.author[href$='/user/BZBOfficial']:before,
.author[href$='/user/ajalikespotatosalad']:before,
.author[href$='/user/mvisage']:before,
.author[href$='/user/Derrick_Barry']:before,
.author[href$='/user/trixiemattel']:before,
.author[href$='/user/bryce777']:before,
.author[href$='/user/SashaBelley']:before,
.author[href$='/user/TheRealMissDavenport']:before,
.author[href$='/user/therealstacylayne']:before,
.author[href$='/user/dariennelake']:before,
.author[href$='/user/courtneyact']:before,
.author[href$='/user/MimiImfurst']:before,
.author[href$='/user/JasmineMasters76']:before,
.author[href$='/user/JoshuaEadsBrown']:before,
.author[href$='/user/TheRealMrsKashaDavis']:before,
.author[href$='/user/MagnoliaIsMe']:before,
.author[href$='/user/Npbrooks']:before,
.author[href$='/user/jaidynndiorefierce']:before,
.author[href$='/user/THEBDROFFICIAL']:before,
.author[href$='/user/FormerFkingReigning']:before,
.author[href$='/user/thatonequeen']:before,
.author[href$='/user/cynthialeefontaine']:before,
.author[href$='/user/OfficialPhiPhiOhara']:before,
.author[href$='/user/TrinitytheTUCKTaylor']:before,
.author[href$='/user/pandoraboxx']:before,
.author[href$='/user/RuPaulBOTS_OFFICIAL']:before,
.author[href$='/user/Msjasminemasters']:before,
.author[href$='/user/Jaymesmansfield']:before,
.author[href$='/user/welovekatya']:before,
.author[href$='/user/noextrai']:before,
.author[href$='/user/willambelli']:before,
.author[href$='/user/MissBitch2U']:before,
.author[href$='/user/NebraskaTF']:before,
.author[href$='/user/MystiqueSummers']:before,
.author[href$='/user/thePeachesChrist']:before,
.author[href$='/user/fuzzyhead999']:before
{
    position: relative;
    top: 2px;
    display: inline-block;
    width: 15px;
    height: 14px;
    margin-right: 3px;
    content: '';
    background-image: url(%%as4-icons%%) -371px -38px;
}